<mat-toolbar class="header">
<div class="nav">
    <i-feather name="chevron-left"></i-feather>
    <i-feather name="chevron-right"></i-feather>
</div>
    <!-- <span class="example-spacer"></span> -->
<div class="auth"  >
    <button mat-button  id="signup" >Sign Up</button>
    <button  *ngIf="!isAuthenticated" mat-raised-button  id="login" (click)="login()"  >
        <!-- <a [href]="redirectUrl">Log in</a> --> Log in
    </button>
    <button  *ngIf="isAuthenticated" mat-raised-button  id="login"  (click)="logout()" >
        <!-- <a [href]="redirectUrl">Log in</a> --> logout
    </button>
</div>
</mat-toolbar>  