<div class="darkMode mat-app-background">
    <app-header flexLayout="column"></app-header>
    <div flexLayout="row" fxFlex>
        <div>
            <app-sidebar fxFlex></app-sidebar>
        </div>
        <div fxFlex="80" class="content">
            <!-- <ng-scrollbar class="ngx-scroll"  [autoHeightDisabled]="false" thumbClass="white-scrollbars"                > -->
                <router-outlet></router-outlet>
            <!-- </ng-scrollbar> -->


        </div>


    </div>
    <app-player flexLayout="column"></app-player>
</div>